@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--max-width: 800px;
}

html {
	margin: 0;
	background-color: rgb(60, 60, 60);
}
body {
	margin: 0;
	padding: 0;
}

.button-primary {
	@apply rounded bg-blue-600 px-4 py-2 font-bold text-white;
}

.button-primary:hover {
	@apply bg-blue-500;
}

.button-secondary {
	@apply rounded bg-gray-500 px-4 py-2 font-bold text-white;
}

.button-secondary:hover {
	@apply bg-gray-400;
}

.error-message {
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.2);
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	width: fit-content;
}
